@charset "UTF-8";
.portrait h1 {
}
.landscape h1 {
}

.logo {
	padding: 10px;
	text-align: center;
}
/*#map div[data-role="content"] {
	position: absolute;
	top: 42px;
	bottom: 42px;
	left: 0;
	right: 0;
}*/
           /* #map_canvas {
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                right:0;
            }*/
#map_canvas {

		width:100%;
		min-height:280px;
		height:280px;
		position:absolute;
		
}
    .mapLocationInfo {
    	color:#000 !important;
    	text-shadow: none !important;
    }
/*#gMap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}*/
    }
.thumbnail {
	float: right;
	display: block;
	margin: 5px 0 15px 5px;
	border: 2px #fff solid;
	padding: 2px;
}
.clearboth {
	clear: both;
}
.addr {
	overflow: hidden;
	position:relative;
}
h2 {
	margin-top: 0;
}
.details {
	display: block;
	margin: 10px 0;
}
/*div[data-role="controlgroup"] {
	clear:both;
	text-align: center;
}
div[data-role="content"] {
	padding-bottom: 40px;
}*/
#loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:rgba(0,0,0,.9);
	z-index:9999;
}
.errorMsg {
	position: absolute;
	top: 0;
	left: 10px;
	z-index:9999;
	padding: 5px;
	background-color: rgba(0,0,0,.7);
	display: none;
}
/*.newsfont{
    font-size: 15px;
	font-family:Cambria;
	/*word-break: break-all;
	
}*/
/*h1,h4{
    font-size: 25px;
	font-family:Cambria;
}*/
.tengray { color: #787878; font-size: 10px; line-height: 1.2em; font-weight: normal; }

/* Uncomment this before compiling in order to cause the initial page to fade in
@media only screen and (max-width: 800px) {
	#page1 {
		display: none;
	}
}
*/

/* Page and overlay */
.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper {
	background: 			#252525 /*{b-page-background-color}*/;
	background:  transparent; !important
	border-color:	 		#454545 /*{b-page-border}*/;
	color: 					#fff  /*{b-page-color}*/;
	text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ 	#111 /*{b-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
/* Shows the ESF seal */
.esfBackground
{
	background: 			#EFEFEF /*{b-body-background-color}*/;
	background-image:url(../images/img_seal.png);
	background-size:100%,100%;
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.esfToolbar
{
	background: 			#EFEFEF /*{a-bar-background-color}*/;
	/*background-image:url(../images/img_banner.png);*/
	background-size:100%,100%;
	background-repeat:no-repeat;
	border-color:	 		#ddd /*{a-bar-border}*/;
	color: 					#333 /*{a-bar-color}*/;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ 	#eee /*{a-bar-shadow-color}*/;
	font-weight: bold;
	/*height: 15%;*/
}
.ui-footer
{
	background: 			#EFEFEF /*{b-body-background-color}*/;
	/*background-image:url(../../images/esfIcon.png);*/
	background-size:100%,100%;
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.right { float: right; margin: 4px 0 4px 10px; } 
/*.left { float: left; margin: 4px 12px 4px 0;  }*/
.left { float: left; }
.mobileleft { float: left; }

.w20 { width: 20% }
.w50 { width: 50% }
.w75 { width: 75% }

img.right { float: right; margin: 4px 0 4px 10px; } 
img.left { float: left; }
img.newsleft { float: left; }
/*img.left { float: left; margin: 4px 12px 4px 0;  }*/

img.h10 { height: 10% }

img.w15 { width: 15% }
img.w20 { width: 20% }
img.w25 { width: 25% }
img.w30 { width: 30% }
img.w35 { width: 35% }
img.w40 { width: 40% }
img.w45 { width: 45% }
img.w50 { width: 50% }
img.w55 { width: 55% }
img.w60 { width: 60% }
img.w65 { width: 65% }
img.w70 { width: 70% }
img.w75 { width: 75% }
img.w80 { width: 80% }
img.w100 { width: 100% }

#box.maxw320, img.maxw320 { max-width: 320px }

/*li.newsfont {

		width:100%;
		min-height:280px;
		height:280px;
		position:absolute;
		
}*/

img.maxw600 { max-width: 600px }
img.maxw320 { max-width: 320px }
img.maxw310 { max-width: 310px }
img.maxw300 { max-width: 300px }
img.maxw290 { max-width: 290px }
img.maxw280 { max-width: 280px }
img.maxw270 { max-width: 270px }
img.maxw260 { max-width: 260px }
img.maxw250 { max-width: 250px }
img.maxw240 { max-width: 240px }
img.maxw230 { max-width: 230px }
img.maxw220 { max-width: 220px }
img.maxw210 { max-width: 210px }
img.maxw200 { max-width: 200px }
img.maxw190 { max-width: 190px }
img.maxw180 { max-width: 180px }
img.maxw170 { max-width: 170px }
img.maxw160 { max-width: 160px }
img.maxw150 { max-width: 150px }
img.maxw140 { max-width: 140px }
img.maxw130 { max-width: 130px }
img.maxw120 { max-width: 120px }
img.maxw110 { max-width: 110px }
img.maxw100 { max-width: 100px }
img.maxw90 { max-width: 90px }
img.maxw80 { max-width: 80px }
img.maxw70 { max-width: 70px }
img.maxw60 { max-width: 60px }
img.maxw50 { max-width: 50px }

.mobshow { display: block }
.mobhide, img.mobhide, h1.mobhide { display: none }
.apphide, a.apphide { display: none }

p { font-size: 1.1em; line-height: 1.4em }
p.caption, span.caption, div.caption { font-size: .9em; line-height: 1.2em; color: #888; margin: 4px auto; text-transform: uppercase }

#box.left { float: left; margin-right: 12px;  }
#box.right { float: right; margin-left: 10px }
#box.leftnomar { float: left;  }
#box.rightnomar, .rightnomar { float: right; }
#box.callout { margin-top: 10px; margin-bottom: 10px }
#box.border { padding: 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: none; border-right: none; background-color: #f5f5f5; margin-left: -2%; margin-right: -2%  }
#box.callout h1, #box.callout h2, #box.callout h3, #box.callout h4, #box.callout h5  { margin-top: .3em }
#box.cent, td.cent, .cent, p.cent { text-align: center }

#box.maxw130, #box.maxw140, #box.maxw150, #box.maxw160, #box.maxw170, #box.maxw180, #box.maxw190, #box.maxw200, #box.maxw210, #box.maxw220, #box.maxw230, #box.maxw240, #box.maxw250, #box.maxw260, #box.maxw270, #box.maxw280, #box.maxw290, #box.maxw300, #box.maxw310, #box.maxw320,  #box.maxw330, #box.maxw340, #box.maxw350, #box.maxw360, #box.maxw365, #box.maxw370, #box.maxw375, #box.maxw380, #box.maxw390, #box.maxw400, #box.maxw410, #box.maxw420,  #box.maxw430, #box.maxw440, #box.maxw450, #box.maxw460, #box.maxw470, #box.maxw480, #box.maxw490, #box.maxw500, #box.maxw510, #box.maxw520,  #box.maxw530, #box.maxw540, #box.maxw550, #box.maxw560, #box.maxw570, #box.maxw580, #box.maxw590, #box.maxw600, #box.maxw610, #box.maxw620,  #box.maxw630, #box.maxw640, #box.maxw650, #box.maxw660, #box.maxw670, #box.maxw680, #box.maxw690, #box.maxw700, #box.maxw710, #box.maxw720 { max-width: 100% }


#box, #box.right, #box.left, #box.w15, #box.w20, #box.w25, #box.w30, #box.w35, #box.w40, #box.w45, #box.w50, #box.w55, #box.w60, #box.w65, #box.w70, #box.w75, #box.w80, #box.w100 { float: none; margin-top: 2em; margin-bottom: 2em; width: auto; }

