<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "edu.esf.edu"
		versionCode=""
		version   = "1.0">
		<name>SUNY-ESF</name>
		<description>This is the app for SUNY-ESF (State University of New York College of Environmental Science and Forestry). It features current news and events, a faculty and staff directory, interactive campus map, selected video playlists, links to associated social media sites, information about athletics, dining and giving, and pages offering college facts, history, rankings, and a presidential message. SUNY-ESF is the oldest and most distinguished institution in the United States that focuses on the study of the environment.</description>
		<author href="" email="mobile@esf.edu"></author>
		<preference name="phonegap-version" value="3.3.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="false" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="true" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="true" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="true" />
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		<gap:plugin name="org.apache.cordova.inappbrowser"  version="0.3.3" />
		<gap:plugin name="org.apache.cordova.device" version="0.2.8" />
		<gap:plugin name="com.phonegap.plugin.statusbar"  version="1.1.0"  />
		<gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.0.2" />
		<gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" />
		<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
		<icon src="images/esfIcon.png" gap:platform="ios" width="57" height="57" />
		<icon src="images/esfIcon_72x72.png" gap:platform="ios" width="72" height="72" />
		<icon src="images/esfIcon_114x114.png" gap:platform="ios" width="114" height="114" />
		<icon src="images/esfIcon_144x144.png" gap:platform="ios" width="144" height="144" />
		<icon src="images/esfIcon_76x76.png" gap:platform="ios" width="76" height="76" />
		<icon src="images/esfIcon_120x120.png" gap:platform="ios" width="120" height="120" />
		<icon src="images/esfIcon_152x152.png" gap:platform="ios" width="152" height="152" />
		<gap:splash src="images/splash_mdpi.png" gap:platform="ios" width="320" height="480" />
		<gap:splash src="images/splash_mdpi.png" gap:platform="ios" width="480" height="320" />
		<gap:splash src="images/Default2x.png" gap:platform="ios" width="640" height="960" />
		<gap:splash src="images/Default2x.png" gap:platform="ios" width="960" height="640" />
		<gap:splash src="images/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
		<gap:splash src="images/Default-568h@2x.png" gap:platform="ios" width="1136" height="640" />
		<gap:splash src="images/splash_mdpi.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="images/splash_mdpi.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="images/splash_hdpi.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="images/splash_hdpi.png" gap:platform="android" gap:density="xhdpi" />
		<access origin="*" />
	</widget>
