#subapps {
	padding: 5px 0;
}
.ui-field-contain div.ui-slider-switch {
	width: 6em;
	position: absolute;
	right: 0;
}
#homebuttonGrid {
	text-align:center;
}


/* Android */

/* All Smartphones in portrait and landscape ----------- */
/* iPhone 2G-4S, portrait and landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  and (-webkit-device-pixel-ratio: 1) {
    /* increase font size on higher resolution */
    body {
      /* -webkit-text-size-adjust: none;*/
    }
     .ui-overlay-d {
        background-image: url(../images/blackfadeBG3G.png);
     }
    #commonImg {
        background-image: url(../images/apphomelogo.3G4.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:60px;
        left:50%;
        margin-bottom: 49px;
        margin-left: -150px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG3G.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        min-height:  1400;
     }
}
/* Samsung Galaxy S, SII, W  DPI:  1.5*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  and (-webkit-device-pixel-ratio: 1.5) {
    /* increase font size on higher resolution */
    body {
      /* -webkit-text-size-adjust: none;*/
    }
     .ui-overlay-d {
        background-image: url(../images/blackfadeBG3G.png);
        background-size:cover  !important;
        background-size:300% 300%    !important;
     }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG3G.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        min-height:  1400;
     }
}

/* LG Optimue LTE  DPI:  1.7*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  and (-webkit-device-pixel-ratio: 1.7) {
    /* increase font size on higher resolution */
    body {
      /* -webkit-text-size-adjust: none;*/
    }
     .ui-overlay-d {
        background-image: url(../images/blackfadeBG3G.png);
        background-size:cover  !important;
        background-size:300% 300%    !important;
     }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG3G.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        min-height:  1400;
     }
}

/* All Smartphones in portrait and landscape ----------- */
/* DPI = 2, iPhone 4*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) and (-webkit-device-pixel-ratio: 2)  {
    /* increase font size on higher resolution */
    body {
      /* -webkit-text-size-adjust: none;*/
    }
     .ui-overlay-d {
        background-image: url(../images/blackfadeBG3G.png);
        background-size:cover  !important;
        background-size:300% 300%    !important;
     }
    #commonImg {
        background-image: url(../images/apphomelogo.3G4.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:60px;
        left:50%;
        margin-bottom: 50px;
        margin-left: -150px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG3G.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        min-height:  1400;
     }
}

/* Nokia */
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) and (-webkit-device-pixel-ratio: 1)  {
    /* increase font size on higher resolution */
    body {
      /* -webkit-text-size-adjust: none;*/
    }
     .ui-overlay-d {
        background-image: url(../images/blackfadeBG3G.png);
        background-size:cover  !important;
        background-size:300% 300%    !important;
     }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG3G.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        min-height:  1400;
     }
}

/* Samsung Galaxy 4 */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) and (-webkit-device-pixel-ratio: 3)  {
    /* increase font size on higher resolution */
    body {
      /* -webkit-text-size-adjust: none;*/
    }
     .ui-overlay-d {
        background-image: url(../images/blackfadeBG.png);
        background-size:cover  !important;
        background-size:300% 300%    !important;
     }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        min-height:  1400;
     }
}


/* All Smartphones in portrait ----------- */
@media only screen 
and (max-width : 479px) {
/* YOUR STYLE GOES HERE */
}

/***** ANDROID DEVICES *****/

/* Android 240 X 320 ----------- */
/* LG Optimus One */
@media only screen
and (max-width: 241px){
     .ui-overlay-d {
        background-image: url(../images/blackfadeBG3G.png);
        background-size:cover  !important;
        background-size:100% 100%    !important;
     }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG3G.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        min-height:  1400;
     }
}

/* Android(Samsung Galaxy) in portrait 380 X 685 ----------- */
@media only screen
and (min-device-width : 380px) 
and (max-device-width : 685px) and(-webkit-device-pixel-ratio: 1.5) {
    .ui-overlay-d {
         background-image: url(../images/blackfadeBG.png);
         background-size:240% 240%    !important;
    }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }

     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        background-size:cover  !important;
	 }
}

/* Android(Samsung Galaxy) in Landscape 685 X  380 ----------- */
@media only screen
and (min-width: 680px)
and (max-width: 690px){
	 /* big landscape tablets, laptops, and desktops */
    .ui-overlay-d {
         background-image: url(../images/blackfadeBG.png);
         background-size:240% 240%    !important;
    }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }

     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        background-size:cover  !important;
	 }
}

/* Kindle Fire Portrait 600 X 1024 ----------- */
@media only screen
and (min-width: 595px)
and (max-width: 610px){
	 /* big landscape tablets, laptops, and desktops */
    .ui-overlay-d {
         background-image: url(../images/blackfadeBG.png);
         background-size:240% 240%    !important;
    }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }

     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        background-size:cover  !important;
	 }
}

/* Kindle Fire Landscape 1024 X 600 ----------- */
@media only screen
and (min-width: 1000px)
and (max-width: 1030px){
    .ui-overlay-d {
         background-image: url(../images/blackfadeBG.png);
         background-size:240% 240%    !important;
    }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }

     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        background-size:cover  !important;
	 }
}
/* Browsers */
@media (min-width:1281px) {
 /* hi-res laptops and desktops */
    .ui-overlay-d {
         background-image: url(../images/blackfadeBG.png);
         background-size:240% 240%    !important;
    }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }

     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        background-size:cover  !important;
	 }
}

/* Motorola Droid 3, 4, Razr, Atriz 4G, Atrix 2  ----------- */
@media only screen
and (min-width: 540px)
and (max-width: 960px){

 /* hi-res laptops and desktops */
    .ui-overlay-d {
         background-image: url(../images/blackfadeBG.png);
         background-size:240% 240%    !important;
    }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }

     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
        background-size:cover  !important;
	 }
     #homebuttonGrid img {
        padding: 5px 20px;
     }
}

/* iPad Portait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
     .ui-overlay-d {
     background-image: url(../images/blackfadeBG.png);
     background-size:240% 240%    !important;
     background-repeat:repeat-x;
     }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }
     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat;
        background: fixed;
        background-position: bottom;
        background-size:cover  !important;
     }
     #homebuttonGrid img {
        padding: 5px 20px;
     }
}

/* iPhone 5 Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (device-height: 568px) {

    /* increase font size on higher resolution */
    body {
      /* -webkit-text-size-adjust: none;*/
    }
    .ui-overlay-d {
         background-image: url(../images/blackfadeBG.png);
    }
    #commonImg {
        background-image: url(../images/homelogo_orig.png);
        position:absolute;
        bottom:0;
        width:300px;
        height:125px;
        left:50%;
        margin-bottom: 72px;
        margin-left: -135px;
        background-repeat: no-repeat;
     }

     #home {
        position:relative;
        background-image: url(../images/blackfadeBG.png);
        background-repeat: repeat-x;
        background: fixed;
        background-position: center;
	 }
}
